/* The CSS for RABiTT */
body
{
	/*background-color: #6E2717;*/
	/* maybe this color but noisy might be good! -- see noise_bg.png */
	/*background-color: #BF8F64; /* #FFBF85; */*/
	margin: 0 auto;
	font-family: Big Caslon, cursive;
	color: dimgray;
	text-align: center;
	
	height: 100%;
	width: 100%;
	/*background-image: url("noise_bg.png"); */
	background-color: black;
	background-image: url('blk_ns.png');
}

h1
{
	/*font-family: 'Molle';*/
}

.container
{
	margin: 0 auto;
	text-align: center;
	position: relative;
	/*margin: 0 auto;*/
}

.box
{
	background-color: gray;
	height: 800px;
	width: 690px;
	/* try auto height */
	margin: 0 auto;
	z-index: 0;
	position: relative;
	text-align: center;
	border-radius: 10px;
}

/*.box:before
{
}*/
.glass
{
	/*background-color: #56DFFF;*/
	background-color: tan;
	opacity: 0.5;
	/*height: 750px;
	width: 750px;*/
	/*width: 725px;*/
	width: 680px;
	z-index: 5;
	margin: 5px 5px 0 5px;
	position: absolute;
	border-radius: 10px;
	/*left: 28%;*/
}

.block
{
	position: relative;
	background-color: red;
	border-radius: 5px;
	width: 160px;
	height: 160px;
	z-index: 1;
	margin: 0;
	padding: 0;
	/*float: left;*/
	/*margin-left: 10px;*/
	/*margin-left: 0 auto;*/
	margin: 5px;
	opacity: 1;
}

.block_col
{
	float: left;	
}

/* first col */

#e0
{

}

#e1
{
	
}

#e2 
{
	
}

#e3 
{
	
}

/* second col */

#e4 
{
	
}

#e5 
{
	
}

#e6 
{
	
}

#e7 
{
	
}

/* third col */

#e8 
{

}

#e9 
{

}

#e10 
{

}

#e11 
{

}

/* fourth col */

#e12 
{

}

#e13 
{

}

#e14 
{

}

#e15 
{

}

/*.zerobutton
{
	background-color: pink;
	width: 10px;
	height: 10px;
	bottom: 10px;
	z-index: 1;
}*/

#button_bar
{
	position: absolute;
	bottom: 5px;
	/*background-color: pink;*/
	width: auto;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	/*float:left;*/
}

.myButton
{
	float: left;
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	margin: 10px;
	font-family: Menlo, cursive;
	font-size: 1.5em;
}

#button0
{
	background-color: black;
	color: white;
	/*float: left;*/
	/*text-align: center;*/
}

#button1
{
	background-color: white;
	color: black;
	/*float: left;*/
	/*te*/
}

#button_enter
{
	background-color: lightgray;
	color: black;
	/*float: left;*/
}

#screen
{
	background-color: tan;
	color: dimgray;
	font-family: Menlo, monospace;
	font-size: 2em;
	width: 300px;
	height: 45px;
}

#guide_ctr
{
	height: 100%;
	/*width: 100%;*/
	position: absolute;
	z-index: 20;
	width: 100%;
	margin: auto;
	background: rgba(0,0,0,.5);
}

#guide_ctr:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#guide
{
	/*position: absolute;*/
	text-align: left;
	margin: 0 auto;
	background-color: white;
	opacity: 1;
	/*z-index: 20;*/
	color: black;
	font-family: Menlo, monospace;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 586px;
}

#db_addon
{
	text-align: center;
	margin: 0 auto;
	background-origin: white;
	opacity: 1;
	color: black;
	font-family: Menlo, monospace;
	border-radius: 0 0 10px 10px;
	/*border-top: 3px black solid;*/
	left: 0;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 550px;
	height: 150px;
	background-color: #949494;
}

.fancy
{
	font-family: 'Yellowtail' 'Molle',serif; 
	text-align:left;
	margin: 0;
	padding: 15px 10px;
	/*font-size: 2.3em;*/
}

#logo
{
	font-size: 2.25em;
}


#button_save
{
	background-color: #4ce85c;
	color: black;
	float: left;
}

#button_print
{
	background-color: #ffe740;
	color: black;
	float: right;
}

#button_reset
{
	background-color: #e83a3f;
	color: black;
	float: right;

}

#button_load
{
	background-color: #5c78ff;
	color: black;
	float: left;

}

#SoM_bar
{
	/*float: left;*/
	/*margin-right: 60px;*/
}
